
#sidebar-right .block block-asc_news_filter h3.block-title {
  display: block;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #5A5347;
  font-family: "Arial Black",Gadget,sans-serif;
  font-size: 18px;
  line-height: 1.5em;
  width: 100%;
  padding-left: 1em;
}
  
